.btn{
    height: 35px;
    width: 110px;
    font-weight: normal;
    font-size: large;
    box-shadow: 5px 4px 4px black;
    background-color: rgb(0, 163, 163);
    color: #ffffff;
    margin: 15px;
    
}
li{
    color:#555555;
    display: flex;
    text-align: right;
}
a{
    color: #d4d4d4;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
}
.active{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 520;
    margin: 15px;
    text-align: right;
}
.nav{
    background-color: #555555;
    display: flex;
    justify-content: right;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav-title{
    display: flex;
    color: #ffffff;
    margin-right: 670px;
}