.btn{
    height: 35px;
    width: 110px;
    font-weight: normal;
    font-size: large;
    box-shadow: 5px 4px 4px black;
    background-color: rgb(0, 163, 163);
    color: #ffffff;
    margin: 15px;

}
.links,h1
{
    text-align: left;
    flex: 1;
}
li{
    color:#000000;
    display: flex;
    text-align: right;
}
a{
    color: #d4d4d4;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
}
.active{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 520;
    margin: 15px;
    text-align: right;
}
.nav{
    background-color: #000000;
    display: flex;
    
    
    margin: 0px;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: right;
}
h1{
    display: flex;
    color: #ffffff;
    position: relative;
    left: 50px !important;
}