body{
    padding: 0 40%;
}
#calculator{
    background-color: rgb(34,34,34);
    width: 50%;
    padding-bottom: 1%;
}
#display{
    text-align: end;
    margin-right: 7%;
    color: white;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
}
.row button{
    border-radius: 50%;
    background-color: rgb(102,102,102);
    color: white;
    border: 0;
}
.operator{
    border: 0;
    border-radius: 50%;
    background-color: rgb(255,140,0) !important ;
}
#equals{
    width: 75%;
    border-radius: 40px;
}